[2017-06-14 09:27] AndyWu2015 opened #1 "build fail when under liferay-workspace/modules folder"
Hey @yasuflatland-lf , you should not generate settings.gradle , build.gradle and gradlew files (cause they are nested projects) and remove all plugin applying, cause liferay workspace plugin will apply them.

[2017-06-15 03:41] yasuflatland-lf commented on #1
Hi @AndyWu2015

Thank you for testing this! I tested myself according to the following steps, but I could build and deploy properly. Please let me know more details of what you tried and environment as well.

My Environment
Blade version : 2.1.1.201705110328
Gradle version : Gradle 3.4.1
Groovy:       2.4.7
Ant:          Apache Ant(TM) version 1.9.6 compiled on June 29 2015
JVM:          1.8.0_112

[2017-06-15 04:57] AndyWu2015 commented on #1
yes , but when you cd to test root dir , and run "gradlew clean build" , it will fail.

[2017-06-15 05:32] yasuflatland-lf commented on #1
Hi @AndyWu2015

Oh, Ok, yeah I confirmed that. I'll fix that along with other bugs that I found!

[2017-06-16 00:56] AndyWu2015 commented on #1
IDE team are considering to integrate  your wonderful tool in to blade , so If I am free , I can help to fix bug and adding new features.

[2017-06-16 20:15] slemarchand opened #2 "Typo mistake "primaly" instead of "primary""
There is a typo mistake for Long field type: "primaly" instead of "p**r**imary".

[2017-06-17 08:42] slemarchand opened #4 "Templates cache is never refreshed"
Templates cache is never refreshed : if you build and install a new version of Damascus with modifications in template files, the template files stored in `${HOME}/.damascus/templates` are never updated.

[2017-06-18 05:29] yasuflatland-lf commented on #1
Hey @AndyWu2015,

That's what I couldn't ask for more! Liferay's improvement is pretty fast, so I was bit worried if I can keep this tool updated to the latest releases. In terms of this issue, I just tweaked code that's currently generated by Damascus. Is this what you mean?

```https://github.com/yasuflatland-lf/for_confirm_damascus```

Navigate to ```${liferay_workspace_root}/modules/First``` a

[2017-06-18 07:19] yasuflatland-lf commented on #4
Hi @slemarchand

Thank you for finding this issue. I want to discuss how to resolve this with you guys. Let's get @AndyWu2015 in this loop too.

The solution what I came up with was delete template folder in /installers/global shell, but I'm wondering if it's right way because,

1. If Damascus would be integrated with Blade, Blade will take care of upgrade. In that case, depending on the design of

[2017-06-18 22:44] slemarchand commented on #4
My preferred approach is to implement templates cache update in Damascus (I have just submitted  [a pull request](https://github.com/yasuflatland-lf/damascus/pull/5)).

I have implemented templates changes detection using a build number property in `~/.damascus/settings.properties` file.

Another possibility, more pragmatic,  would have been to copy the templates into the directory `~/.damascus/te

[2017-06-18 23:18] slemarchand opened #6 "Remove duplicate templates in src/test/resources/templates ?"
The templates in `src/test/resources/templates` directory (duplicated from `src/main/resources/templates`) seems not to be used.

Should we remove this directory?

[2017-06-19 01:50] yasuflatland-lf commented on #4
Hi @slemarchand
Wow, you are very quick! Let me take a look. Yeah, as you said, the copy is very first so should be OK with that way too.

Another point where I didn't want to overwrite every time was in an actual project, sometimes I wanted to tweak some code temporally specifically for the project and it was pretty useful. (I may need to introduce this idea public on wiki or README.md). Given th

[2017-06-19 02:00] yasuflatland-lf commented on #6
Hi @slemarchand

Yeah, right, all codes are same so far. My initial intention was if some tests needed test dedicated code, (say variations of base.json for different test cases, e.g ) separating them would be beneficial, which is the current implementation.

So, I basically agree with your idea, but I'm still bit concerned. What's your opinion about that part?

[2017-06-19 02:07] AndyWu2015 commented on #1
1. don't worry to much , we can help to update your tool.

2. yes , I can build success with following structure

![ws](https://user-images.githubusercontent.com/12250744/27266885-12248976-54d7-11e7-88d0-1d735d18e43b.png)

notice , there is no "for_confirm_damascus" folder

[2017-06-20 21:27] slemarchand commented on #6
Hi @yasuflatland-lf,

Basically, the main disavantage of keeping duplicate templates is that it forces us to synchronize the templates after each modification.

From my point of view, it's better to remove identical templates from the `src/test/resources/templates` directory, and to place in this directory only the modified templates for the need of a test case.

[2017-06-21 12:57] AndyWu2015 opened #7 "generated *-web project has a gradle folder which is unnecessary"
see here
![gradlefolder](https://user-images.githubusercontent.com/12250744/27385152-3069a918-56c4-11e7-8f2b-b7704f85b98d.png)

[2017-06-22 22:20] slemarchand opened #9 "Implement *generateActivity* flag on *asset* element (base.json file)"
It can be valuable to implement the **`generateActivity`** flag on **`asset`** element, for file `base.json`.

@yasuflatland-lf If you accept help for this task, I can implement the feature and send you a pull request.

[2017-06-23 00:59] yasuflatland-lf opened #10 "Activity doesn't work properly"
Activity doesn't work properly

[2017-06-23 01:06] yasuflatland-lf opened #11 "Null Pointer exception occurs in Asset Publisher"
Because of bugs in generated portlet, Asset publisher portlet gets NPE when it displays records of the generated portet.

[2017-06-23 01:09] yasuflatland-lf commented on #9
@slemarchand, sure, but Activities and displaying records on Asset Publisher currently doesn't work properly. Let me fix them first. In terms of Activities, I've already fixed and committed in the reference implementation, [SampleSB](https://github.com/yasuflatland-lf/SampleSB) and working on fixing Asset Publisher issue now.  Once I'm done with fixing them, will merge them into the templates of D

[2017-06-24 14:34] #2 closed, assigned to yasuflatland-lf

[2017-06-24 14:34] #4 closed, assigned to slemarchand

[2017-06-24 14:36] yasuflatland-lf commented on #11
fixed in e69f0e67b8807badaf02e785716c35aa00da3ea6

[2017-06-24 14:36] #11 closed, assigned to yasuflatland-lf

[2017-06-24 14:36] yasuflatland-lf commented on #10
fixed in e69f0e67b8807badaf02e785716c35aa00da3ea6

[2017-06-24 14:36] #10 closed, assigned to yasuflatland-lf

[2017-06-24 14:39] yasuflatland-lf commented on #9
Hi @slemarchand, I just fixed Activities and Asset renderer issues, so please go ahead implement the flag for activities.

[2017-06-24 14:43] yasuflatland-lf commented on #7
Hey @AndyWu2015 , thank you for pointing this out. I need to figure out how to deal with unit testing, but I'll work on this with https://github.com/yasuflatland-lf/damascus/issues/1.

[2017-06-25 20:14] slemarchand opened #13 "Implement flags "categories", "discussion", "ratings", "tags" and "relatedAssets" on "asset" element"
It can be valuable to implement the flags **`categories`**, **`discussion`**, **`ratings`**, **`tags`** and **`relatedAssets`** on asset element, for file `base.json`.

@yasuflatland-lf If you accept help for this task, I can implement the features and send you a pull request.

[2017-06-25 20:22] slemarchand opened #14 "Add Liferay minimal required versions to the readme file"
Since the last release, it seems that the minimal required versions of Liferay for generated code was higher than previously (now it seems to be Liferay 7.0 CE GA4 and Liferay DXP SP3).

It will be very valuable to add the minimal required versions to the readme file.

[2017-06-26 01:03] yasuflatland-lf commented on #13
@slemarchand , sure, please go ahead. Thank you for this contribution!

[2017-06-26 02:01] AndyWu2015 commented on #4
sorry for the late replay ,  we haven't discussed the detail of integrating damascus in to blade , so feel free to do want would be good for current usage.

[2017-06-26 02:03] yasuflatland-lf commented on #4
@AndyWu2015
Ok, thank you for your feedback!

[2017-06-26 02:48] yasuflatland-lf commented on #14
Added. e146c1714f0498a18ef689400fc343051cb0c9f1

[2017-06-26 02:48] #14 closed, assigned to yasuflatland-lf

[2017-06-29 12:37] #9 closed, assigned to slemarchand

[2017-07-07 18:41] slemarchand opened #16 "Generate code for multiple entities in the same modules."
For now, when we define several entities in our `base.json` file, we get 3 modules for each entity (`*-api`, `*-service` and `*-web`).

In my point of view, it would be more valuable to get 3 modules in total.

To be more concrete, consider the **`airline`** example project with entites **`Flight`** and **`Plane`**.
With the current version of Damascus, the directory layout looks like this (and th

[2017-07-08 00:47] yasuflatland-lf commented on #13
@slemarchand , thank you for this contribution!

[2017-07-08 00:47] #13 closed, assigned to slemarchand

[2017-07-09 08:54] yasuflatland-lf commented on #16
Hi @slemarchand

I basically agree with your idea and thank you for bringing up this! We may need to take into account some aspects below.

1. The sitemap design to include multiple models CRUD in one ```*-web```
How do you bundle multiple model's CRUD in one ```*-web```? The top page of the generated portlet is now view.jsp, a record list of the model. Whereas it's pretty straight forward to conn

[2017-07-09 21:47] slemarchand commented on #16
Hi @yasuflatland-lf,

Thanks for your feedback. See below my thoughts about the aspects you have mentionned.

Within the scope of this issue (#16), I plan to keep the generated user interface as is. That is, there is still a dedicated portlet for each entity, but all portlets are grouped together in the same module.

There are many ways to improve the user interface, but I think it would be better

[2017-07-10 08:10] yasuflatland-lf commented on #16
Hi @slemarchand

Ok, I agree with leaving detailed user interface design up to the user.

Got it.

Ok! Sorry for bothering you this part. And thank you for fixing SampleSB, the reference implementation as well.

I agree with your " one bundling strategy" and I could make sure that we are on the same page. Please go ahead the development. Thank you for your contributions, Sébastien!

[2017-07-15 07:30] yasuflatland-lf opened #18 "Add more flexibility to the project name"
The project name has 2 restrictions as below now

1. The project name must start from a capital alphabet letter
2. Hyphens are not allowed.

1 should be straight forward to resolve, but in terms of 2, service builder doesn't allow hyphens for the model / field name. Damascus utilize project name (a parameter after ```-init```) for model / primary key field name for now, so they may need to be conv

[2017-07-17 03:05] yasuflatland-lf opened #19 "Add usage comment in terms of how to implement *Validator.java"
It may be obvious, each validation method need to add error details messages in ```_errors``` field when it's invalid. Usage comments in the class comments area would be more user friendly.

[2017-07-18 01:05] slemarchand commented on #16
Important notes about the implementation in PR #20:
* `packageName` field is not anymore located at `application` level, but is now located at root level
* `projectName` value is "normalized" (lowercase and dash separator) to be used in directory names

[2017-07-27 03:02] yasuflatland-lf opened #21 "markup in configurations.jsp is wrong"
aui:button-row must be outside of div.portlet-configuration-body-content.

[2017-07-27 03:03] yasuflatland-lf opened #22 "typo : *ConfigrationAction should be *ConfigurationAction"
typo : *ConfigrationAction should be *ConfigurationAction

[2017-07-27 03:04] #16 closed, assigned to nobody

[2017-08-04 08:49] yasuflatland-lf commented on #22
Fixed in a00f94499c1e845c92831b752d649f9408b3332f

[2017-08-04 08:49] #22 closed, assigned to nobody

[2017-08-04 08:53] #6 closed, assigned to nobody

[2017-08-04 14:19] yasuflatland-lf opened #23 "configuration page gets error"
the path of configuration page is incorrect so the page gets error and nothing displayed.

[2017-08-04 14:57] yasuflatland-lf commented on #23
Fixed in 7881b66840c2ec32df97974e076e4a6db9a9c6ed

[2017-08-04 14:57] #23 closed, assigned to yasuflatland-lf

[2017-08-04 14:58] yasuflatland-lf commented on #21
Fixed in 7881b66840c2ec32df97974e076e4a6db9a9c6ed

[2017-08-04 14:58] #21 closed, assigned to yasuflatland-lf

[2017-08-15 13:58] yasuflatland-lf opened #24 "workflow switch implementation"
"workflow" switch doesn't work for now. Need to be implemented.

[2017-08-15 14:00] yasuflatland-lf opened #25 "Integration test template need to be implemented"

[2017-08-15 16:20] yasuflatland-lf opened #26 "Apply Admin page the default look & feel"
Currently admin page and user page use same jsps. Admin pages should have a default UI layout.

[2017-08-16 12:39] yasuflatland-lf opened #27 "dlBrowse should be removed when document media field doesn't exist"
dlBrowse script exists when document media field doesn't exist. Should be removed when it's not necessarily.

[2017-08-21 00:57] yasuflatland-lf opened #28 "edit.jsp's categories, assets and related assets markup need to be updated"
The current code is as below

[code]

These need to be as follows
[code]

[2017-08-23 04:03] yasuflatland-lf opened #29 "DateTime generate only Date field. Time field should be created too"
DateTime generate only Date field. Time field should be created too

[2017-09-14 09:10] yasuflatland-lf commented on #1
Hi, @AndyWu2015 it's fixed in dcb45ef75cfa9c43e99a76611e96a7770f1dca13 Thank you for your contribution!

[2017-09-14 09:10] #1 closed, assigned to yasuflatland-lf

[2017-09-14 09:11] AndyWu2015 commented on #1
thank you ! @yasuflatland-lf

[2017-09-18 02:44] yasuflatland-lf commented on #7
fixed in cd1656853e75e5648baf60a1d2d887b96fd1b2bd

[2017-09-18 02:44] #7 closed, assigned to nobody

[2017-09-19 23:11] tiurlumbangaol opened #30 "Manage Relations between Entities"
1st of all this is a great CRUD plugin for Liferay. Thanks for developing and contributing this.

This feature would be a great benefit : manage relations between entities.

Let us know how we could contribute for Damascus...

[2017-09-22 10:28] yasuflatland-lf opened #31 "Document & Media button doesn't work"
In the generated code, Document & Media button doesn't work on Firefox.

[2017-09-24 14:01] yasuflatland-lf commented on #30
Hi @tiurlumbangaol , thank you for the enhancement request. Can you share your idea how to manage relations between entities? Damascus is inspired by xmlportletfactory, which has relations between entities, so the fields for relations same as xmlportletfactory has already been ready.

[2017-09-25 22:55] tiurlumbangaol commented on #30
hi @yasuflatland-lf

i was referring to issue no 16 : https://github.com/yasuflatland-lf/damascus/issues/16 the one that you disucss with @slemarchand

in that issue comment, i assume that it has not been implemented yet.

But on your reply, you said : it has already been ready.

So i'm a bit confused. So my question : is it ready or not...? and if it is ready, could you give example how we implem

[2017-09-26 01:17] yasuflatland-lf commented on #30
Hi @tiurlumbangaol
Sorry for the confusion, you are right. The interfaces for relation has been ready, but the implementations have not developed yet.

Hi @slemarchand
Do you have any idea for this? I'm considering to contribute Damascus generated portlets for blade-samples, where Liferay official samples showcase once I get Integration / Functional testing templates (which are also included in th

[2017-09-27 04:40] yasuflatland-lf opened #32 "Preference values can't be referred in view.jsp"
need to add something like as follows in *Portlet.java

[code]

[2017-09-28 04:01] yasuflatland-lf opened #33 "Proxy settings for Windows"
Thank you for your contribution, @yoshikakoba! It's updated 933d61028806e7fa9f1cad4e68069a6ddc71ea54 and [here](https://github.com/yasuflatland-lf/damascus/wiki/4.-Proxy-settings)

[2017-09-28 04:02] #33 closed, assigned to yasuflatland-lf

[2017-09-28 08:38] #32 closed, assigned to nobody

[2017-09-28 08:39] #31 closed, assigned to nobody

[2017-09-28 08:54] #19 closed, assigned to nobody

[2017-10-07 05:21] yasuflatland-lf opened #34 "Get error message when a record created successfully"

[2017-10-07 05:22] yasuflatland-lf opened #35 "Maven support"
As a tool top of service-builder, damascus needs to support maven

[2017-10-11 05:43] yasuflatland-lf opened #36 "ADT support"

[2017-10-23 22:43] yasuflatland-lf opened #37 "CI on Windows (on AppVeyor )"
I've seen more Windows users, Damascus should be tested on Windows. Add [AppVeyor](https://www.appveyor.com/) support.

[2017-10-26 23:16] yasuflatland-lf opened #38 "Request is thrown 2 times at submitting a form"
When you creating a record and click the add button, The request seems to be sent 2 times somehow.

[2017-10-27 19:52] vishal-reddy opened #39 "Base.json examples link at the bottom broken"
https://github.com/yasuflatland-lf/damascus/wiki/1.-Getting-Started

[2017-10-28 14:20] yasuflatland-lf commented on #39
@vishal-reddy  Thanks man! fixed it!

[2017-10-28 14:20] #39 closed, assigned to nobody

[2017-11-04 01:00] yasuflatland-lf commented on #37
Done 77fccf25634a38201f0688f36adbfa023a814908

[2017-11-04 01:00] #37 closed, assigned to nobody

[2017-11-04 05:16] #38 closed, assigned to nobody

[2017-11-04 21:50] yasuflatland-lf opened #40 "addEntry / updateEntry need a mode for validation"
At validation for each adding / editing an entry, a primary key doesn't want to be validated at adding a new entry. It's pretty common use case. Also for more flexibility of validation, execution mode (Constants.ADD, Constants.UPDATE, e.g) should be passed to the validation class somehow.

[2017-11-04 21:56] yasuflatland-lf opened #41 "Language properties support"

[2017-11-04 21:58] yasuflatland-lf opened #42 "*-web switch"
*-web switch would be preferable to be implemented when a user needs only services.

[2017-11-04 23:29] yasuflatland-lf opened #43 "README for *-service and *-web"
Since many functionalities are pre implemented in the templates, README that described details in *-service and *-web  will be helpful for users.

[2017-11-12 01:31] yasuflatland-lf opened #44 "Add exception message printing at each the catch syntax"
At Exception in *ActionCommand.java and *ServiceLocalImpl.java, the root error cause must be displayed on console because it's hard to debug without it.

In case where throwing a custom exception, log.error may be appropriate.

[2017-11-12 01:57] yasuflatland-lf opened #45 "getDateTimeFromRequest need to create a empty time instead of throwing Exception when no parameters found"
In *LocalServiceImpl#getDateTimeFromRequest, this method should return alternative data instead of throwing an exception when no parameters for date found. Also in the exception, it needs to be printed on the console. The sample code is below.

[code]

[2017-11-12 06:14] yasuflatland-lf opened #46 "Add .gitignore"

[2017-11-12 07:16] yasuflatland-lf commented on #34
Fixed in 76a447b0bf5087734cb3b1521b47de10efbed575

[2017-11-12 07:16] #34 closed, assigned to nobody

[2017-11-12 19:30] gbovyn opened #47 "AnnotationTypeMismatchException from JCommander"
Hi,

I installed damascus with jpm as indicated in the wiki, but when I run it I get an `AnnotationTypeMismatchException` error.

I tried to compile it myself, same result as you can see below.

[code]

I fixed it by using JCommander 1.71 (https://github.com/cbeust/jcommander/releases/tag/1.71)

[code]

Is there a reason why you rolled back to version 1.64 in commit https://github.com/yasuflatland

[2017-11-13 08:41] yasuflatland-lf opened #48 "Ability to select user customized templates"
Not only implemented templates,  if user customized templates are selectable, that'd be useful for system integrators to use Damascus as a service code generator.

[2017-11-13 08:45] yasuflatland-lf opened #49 "Ability to use user defined valuable in templates."
As a developer, custom variables in templates to manage conditions is helpful. The expected use case is as follows
1. Define valuables in base.json (extend base.json structure)
2. Create custom templates and use those conditional values with Freemarker. Maybe storing those data into an associative array.

[2017-11-20 08:35] yasuflatland-lf commented on #49
Implemented in bd2125871c18f21d5b33444274ad03e6216bd30b

[2017-11-20 08:35] #49 closed, assigned to nobody

[2017-11-20 08:36] yasuflatland-lf commented on #48
Implemented in c41cdba9f453dfd668f707f671d172d78be65bff

[2017-11-20 08:36] #48 closed, assigned to nobody

[2017-11-20 08:39] yasuflatland-lf commented on #44
Fixed in 121207f23503fecc579e17dec8d8f2848eac32dd

[2017-11-20 08:39] #44 closed, assigned to nobody

[2017-11-20 08:50] #45 closed, assigned to nobody

[2017-11-20 08:58] yasuflatland-lf commented on #47
Hi @gbovyn , thank you for reporting this and sorry for the inconvenience. I was busy when I got a report of an error from other people because of JCommander, so I simply rolled back after run the Unit test.

I switched to the latest version 1.72 and released as 0.14. Please use the latest version and it should fix the issue.

[2017-11-25 21:37] gbovyn commented on #47
Hi @yasuflatland-lf, thank you for your answer, the issue is fixed.

[2017-11-25 21:37] #47 closed, assigned to yasuflatland-lf

[2017-11-29 12:40] yasuflatland-lf opened #53 "Template generator from actual code"
## Motivation
At a project, there's a case where a user wants to use Damascus as a service generator of their custom templates. In that case, users repeat a cycle to generate codes and fix templates accordingly. A functionally to assist the cycle efficiency will be beneficial not only for users but also Damascus contributors as well.

## The idea of implementation
### Replacement patterns
The defa

[2017-12-08 02:40] #29 closed, assigned to nobody

[2017-12-12 04:42] tiurlumbangaol commented on #30
@yasuflatland-lf

hi, i also don't like how xmlportletfactory implement relations. how about like this :
for every relation, there will be 1 "action button", when click it will display the detail of the child table.

for example : we have restaurants table and menu table.
1 restaurant could have multiple menus.
on the Restaurant grid, will have action button "View Menu", when clicked, it will disp

[2018-01-03 12:40] yasuflatland-lf opened #55 "Refactoring exception handling of each command"
Refactoring exception handling of each command

[2018-01-07 06:06] #42 closed, assigned to nobody

[2018-01-07 06:07] yasuflatland-lf commented on #53
Implemented in 097491d2b3f8380a8550815c99d926175e97679e

[2018-01-07 06:07] #53 closed, assigned to nobody

[2018-01-10 03:44] yasuflatland-lf opened #56 "Simple Workflow Execution methods"
South Asia countries, they often use simple workflow rather than full blown functionality that Liferay has out of box.

[2018-01-10 03:57] #27 closed, assigned to nobody

[2018-01-10 03:57] #28 closed, assigned to nobody

[2018-01-10 05:00] #56 closed, assigned to yasuflatland-lf

[2018-01-10 05:01] #43 closed, assigned to nobody

[2018-05-16 07:54] yasuflatland-lf opened #57 "Variation Exception class name has unnecessary "Exception" at the end of Exception class name"
In service.xml, Damascus have Validation Exception class, but it includes "ValidationException" at the end of name. That causes of generating "TodoValidationExceptionException" class.

[2018-11-15 10:08] nhatchu opened #59 "template for liferay 7.1"
There is a missing template for liferay 7.1.  Hope damascus can support 7.1.

[2018-12-17 11:09] ghost opened #61 "Unable To Use The Command (damascus -create)"
![damascus-issues](https://user-images.githubusercontent.com/34816258/50083601-50d43300-021a-11e9-9bed-82d324c71c4e.gif)
Please look for more detail in the gif attached.

[2018-12-17 11:11] ghost commented on #61
Also Provide details with respect to whether its support for Liferay 7.1

[2019-01-05 03:57] yasuflatland-lf commented on #59
@nhatchu Merged in f1b8064ec6dbb912820df26ad620088aed2b2d35 . Thank you for your contribution!

[2019-01-05 03:57] #59 closed, assigned to nobody

[2019-01-05 03:58] yasuflatland-lf commented on #61
@rahulholalkere Released 1.0.17 (f1b8064ec6dbb912820df26ad620088aed2b2d35). It should work now.

[2019-01-07 01:07] tiurlumbangaol opened #62 "Web Service API"
Generate Web Service API for each portlet created.

[2019-01-07 01:08] tiurlumbangaol opened #63 "Server Side Validation"
Create Server Side Validation

[2019-01-07 01:10] tiurlumbangaol opened #64 "Export to Excel"
On each portlet, there will be a button "Export Excel", that export portlet records to excel file. Similar that created in XMLPortletfactory : http://www.xmlportletfactory.org/export-to-excel

[2019-01-07 01:11] tiurlumbangaol opened #65 "Advanced Search"
Create "Advanced Search" Functionality.

We already created this for 7.0 version, we need to customise so it support 7.1 version.

[2019-01-07 01:12] tiurlumbangaol opened #66 "Master Validation"
A master validation is most required functionality. Similar like in XMLPortletfactory : http://www.xmlportletfactory.org/2-tables-master-and-validation

[2019-01-07 01:16] yasuflatland-lf commented on #62
I didn't create the Remote service methods intentionally because it's really up to requirements. I've allowed remote service creation true by default in service.xml, so I belive you can easily create the remote service in *ServiceImpl.java if you need it.

[2019-01-07 01:16] #62 closed, assigned to nobody

[2019-01-07 01:21] yasuflatland-lf commented on #63
This is already implemented as ```*Validator.java```. The validation is all different by requirements, so Damascus just create the empty methods for server side validation and you can implement by yourself according to your requirements.

[2019-01-07 01:21] #63 closed, assigned to nobody

[2019-01-07 01:28] yasuflatland-lf commented on #65
@tiurlumbangaol , can share your code by PR so that I can figure out?

[2019-01-07 01:30] #18 closed, assigned to nobody

[2019-01-07 05:28] tiurlumbangaol commented on #65
ok, tomorrow will do it. but please bare with us, it is our first time using github for this kind of collaboration.

[2019-01-18 09:57] tiurlumbangaol opened #67 "View Detail"
Create "View Detail" Functionality.

We already created this for 7.0 version, we need to customise so it support 7.1 version. Our team will upgrade it to 7.1 version, then will ask for pull request.

[2019-02-12 15:10] szacchino opened #68 "Feature request: custom json objects in CustomValue or (better) customfield in fields definition"
Hi,
great work here! I tried to customize templates to allow generation of an HTML Select input for one of my fields. Currently I added a bunch of fields in the customValue field of base.json.  Currently they are:
[code]
that I parse in the template as
[code]
I saw that customValue is implemented as a Map<String, String> so it is a sort of key-value map. Maybe a Map<String, Object> could be better

[2019-03-15 08:30] tiurlumbangaol commented on #67
this function is already there as default feature. we could see view details on "View" action

[2019-03-15 08:30] #67 closed, assigned to nobody

[2019-03-21 06:50] #61 closed, assigned to yasuflatland-lf

[2019-03-21 07:48] tiurlumbangaol commented on #65
Hi,

We created pull request for this, please check :
https://github.com/yasuflatland-lf/damascus/pull/70

[2019-03-24 23:50] yasuflatland-lf opened #71 "Update JSP look and feel to the latest Lexicon style"

[2019-03-26 01:16] tiurlumbangaol commented on #41
hi,
i assume with commit https://github.com/yasuflatland-lf/damascus/commit/4bcb177e5d4eb8c48dac8807e76f03ec1cd559de that you could close this issue?

[2019-03-26 01:42] yasuflatland-lf commented on #41
@tiurlumbangaol Yeah, you are right, let me close now. Thank you for the heads up!

[2019-03-26 01:42] #41 closed, assigned to nobody

[2019-03-26 07:08] tiurlumbangaol opened #72 "Master and Detail - One to Many relationship"
Master and Detail - One to Many relationship like the one in XMLPortletFactory :

http://www.xmlportletfactory.org/2-tables-master-and-detail

[2019-03-26 07:09] tiurlumbangaol commented on #30
For one to many relationship, i create a separate issue : https://github.com/yasuflatland-lf/damascus/issues/72

[2019-03-27 07:01] tiurlumbangaol commented on #66
kindly check on pull request : https://github.com/yasuflatland-lf/damascus/pull/73

[2019-04-05 05:28] #64 closed, assigned to nobody

[2019-04-05 05:29] #65 closed, assigned to nobody

[2019-04-20 12:23] #66 closed, assigned to nobody

[2019-04-20 12:24] tiurlumbangaol commented on #30
i don't think we could support many-many to relations. so i close this issue.
For 1..N relationship please see issue : #72

[2019-04-20 12:24] #30 closed, assigned to nobody

[2019-04-30 01:14] #72 closed, assigned to nobody

[2019-07-03 16:25] himanshubhandari5 opened #74 "Trying to create build relationship sample app i.e. todo and getting build failed."
Hi, Thanks for this plugin, it is simply awesome. I am exploring it and trying to implement it in a sample project, and facing issue from last 3 days. I am able to generate services for service plugin but while building it I am getting following error logs:

C:\LR7\work\lrwrk\modules\todo\employee-service>blade gw build
Starting a Gradle Daemon, 1 busy Daemon could not be reused, use --status for

[2019-07-04 05:46] yasuflatland-lf commented on #74
Hi @hdbhandari , Thank you for using Damascus and contact this time. Let me clarify your environment here before going into the investigation.

* What version of Liferay are you targeting? (7.0, 7.1 or 7.2?)
* What version of Damascus are you using? (Run `damascus` and it'll show the version on the top.). Please use the latest version and templates. (if you delete `${home_dir}/.damascus`, Damascus

[2019-07-04 14:22] himanshubhandari5 commented on #74
Hi @yasuflatland-lf , thank you for replying back. I should have provided these details in first shot, sorry! Well here they are:

- I am targeting version 7.1 CE GA4

- C:\LR7\work\lrwrk>damascus
Version : 20190429

- Yes, I have created fresh workspace.  Just to confirm here is the content from .blade.properties, I think it will reflect correct version of Liferay Workspace.
#Fri Jun 28 17:05:00

[2019-07-08 04:50] yasuflatland-lf commented on #74
@hdbhandari This occurs on Mac as well. It's the cause of the generated code. Will fix this.

[2019-07-09 04:02] #74 closed, assigned to yasuflatland-lf

[2019-07-09 04:05] yasuflatland-lf commented on #74
@hdbhandari Please try Ver 1.0.23

[2019-07-13 04:16] himanshubhandari5 commented on #74
Thank you! Error is gone now.

[2019-07-13 19:52] yasuflatland-lf commented on #74
@hdbhandari Thank you for your update! Enjoy coding!

[2019-07-13 19:54] yasuflatland-lf opened #75 "7.2 Template update"
Update template to 7.2

[2019-10-13 15:37] lionlin0727 commented on #75
When will the 7.2 templates be released?

[2019-10-15 04:00] yasuflatland-lf commented on #75
@lionlin0727  See [this project](https://github.com/yasuflatland-lf/damascus/projects/4) for the progress.

[2019-10-20 11:54] lionlin0727 commented on #75
@yasuflatland-lf
thanks for your reply.

[2019-11-13 07:39] tiurlumbangaol commented on #75
hi @yasuflatland-lf any possibilities for us to access the 7.2 support? maybe put it on "develop" branch?

[2019-11-13 07:40] yasuflatland-lf commented on #75
Implemented in 1429c1926c702d8587805b2b6cc18fc2eff4e53d

[2019-11-13 07:41] yasuflatland-lf commented on #75
@tiurlumbangaol , it's been released in 1.1.1, master branch. let me create a release.

[2019-11-13 07:41] #75 closed, assigned to yasuflatland-lf

[2019-11-13 07:42] yasuflatland-lf commented on #26
1429c1926c702d8587805b2b6cc18fc2eff4e53d

[2019-11-13 07:42] #26 closed, assigned to nobody

[2019-11-13 07:42] yasuflatland-lf commented on #57
fixed

[2019-11-13 07:42] #57 closed, assigned to nobody

[2019-11-13 07:43] yasuflatland-lf commented on #71
1429c1926c702d8587805b2b6cc18fc2eff4e53d

[2019-11-13 07:43] #71 closed, assigned to nobody

[2019-11-15 23:54] lionlin0727 opened #78 "there is a problem in management-toolbar"
I can't search anything with search input!
And The combination search function has disappeared which worked good in Dxp7.1!

[2019-11-16 20:40] yasuflatland-lf commented on #78
Hi @lionlin0727

Can you share your `base.json`? Did you search on the management bar or in the search field right top on the user top page?

This is intentional. the reasons are:
- The user interface code has been drastically changed since 7.0. so it would take longer to merge the code
- The advanced search relies on the query to a database, which could be a performance issue on production.
- Mos

[2019-11-17 03:57] tiurlumbangaol commented on #78
hi @yasuflatland-lf on our projects, it is common to use advanced search, if you allow we can upgrade the advanced search so it will be there on 7.1

If you are ok, i will create issue for this, and our team will the one who work on it.

[2019-11-19 05:05] yasuflatland-lf commented on #78
@tiurlumbangaol, Thank you for your offering, really appreciate it. I'll create a ticket with a brief instruction on how I want it to be implemented.

[2019-11-19 05:17] yasuflatland-lf opened #79 "Advanced Search migration for 7.2 template"
Upgrade Advanced Search for 7.2.

@tiurlumbangaol  Regarding code, could you implement it as below?

- Place search parameter related code in *ViewHelper.java (They were used be coded in `view.jsp`)
- Enable / Disable `advancedSearch` switch in `base.json`
- Regarding advanced search field, please place them in a panel such as below. Also please comply Clay 2.0 for the form elements, such as Text

[2019-11-21 11:03] icarrara opened #80 "Import Liferay Module Project: Location is not recognized"
At first, many congratulations for the great work.

I'll consider to use Damascus so I'm starting some tests related to our use cases.

I undertand that this is not an Issue and the I'm not in the right place but I'll try to post the below question: In Liferay Developer Studio pointing to the 'modules' folder  I tried to Import ---> Liferay Module Projects(s) but picking the 'todo' folder generate

[2019-11-21 15:16] baxtheman opened #81 "Only thankyou"
It's not an issue, it's for say that this is good useful project to scaffold crud liferay widget. Good time saved.
thankyou from Italy 🍕

[2019-11-21 15:51] icarrara commented on #80
Update: If you create a new module in the 'modules' folder, Liferay Developer Studio import other modules not yet in the workspace autonomously. This close the issue for me.

Moreover, are you planning some form of Support forum or other form of Support service?

Thank you in advance.
Ivano C.

[2019-11-21 16:03] icarrara opened #82 "Relation Sample fails to compile"
From "https://yasuflatland-lf.github.io/damascus-doc/docs/samples/sample1.html" I created the "base.json" file and launched the "damascus create" command.

Then launched the "blade deploy" command.

I get the below two errors:

`> Task :modules:employee:employee-service:compileJava FAILED
C:\dev\liferay\7.2.0-ce-ga1\ipl-workspace\mc-infocomm-ipl\modules\employee\employee-service\src\main\java\com\

[2019-11-21 16:18] icarrara opened #83 "Relation Sample fails to display Position in a pull-down list in Employee edit page"
Deployed the Relation Sample application but it fails to display Position in a pull-down list in Employee edit page:

![immagine](https://user-images.githubusercontent.com/2285400/69355901-e6760f00-0c82-11ea-9f5d-892c855e3efc.png)

[2019-11-21 21:06] yasuflatland-lf commented on #81
@baxtheman Thank you for your words! It made my day!

[2019-11-21 21:06] #81 closed, assigned to nobody

[2019-11-21 21:28] yasuflatland-lf commented on #80
Hi @icarrara , thank you for being interested in Damascus! Answering your question quickly, in case you create a project by Damascus, you may want to run "Refresh" and "Refresh Gradle Project" in the Liferay Developer Studio (LDS). What I tried and confirmed are the following steps.

I hope it works for you.

1. Create a new folder `ldrtmp`
2. Open up LDS and point the workplace to the `ldrtmp` fo

[2019-11-22 13:54] yasuflatland-lf commented on #80
Hi, @icarrara , I created Gitter account for the communication.
https://gitter.im/liferay-damascus/community#

Will add a link as a badge in README.md when I release next time.

[2019-11-22 14:07] icarrara commented on #80
Hi @yasuflatland-lf , great !

I just joined damascus/community.

Thank you !

[2019-11-29 12:38] yasuflatland-lf opened #84 "Add Download stastics badge in README"
Refer https://github.com/badges/shields/issues/1371 and

[2019-12-04 07:00] lionlin0727 commented on #78
⇒Thanks for your reply.My base.json is below.I just use the search field on clay:management-toolbar
and get nothing .
<clay:management-toolbar
	actionDropdownItems="<%= todoManagementToolbarDisplayContext.getActionDropdownItems() %>"
	clearResultsURL="<%= todoManagementToolbarDisplayContext.getSearchActionURL() %>"
	componentId="todoManagementToolbar"
	creationMenu="<%= todoManagementToolbarDispla

[2019-12-04 10:12] icarrara commented on #80
Ok, it worked.

Thank you @yasuflatland-lf  !

[2019-12-04 17:22] icarrara opened #85 "Installation of lombok library fails"
- Downloaded lombok from https://projectlombok.org/download
- Double clicked lombok.jar and selected the directory where I installed Liferay Developer Studio. There is not eclipse.exe but eclipse**c**.exe
- lombok installation fails

[2019-12-04 17:40] icarrara commented on #80
The import worked for the first project "Todo".
Then I tried to import the second project "Employee" and again I'm not able to import in the same liferay workspace:
![immagine](https://user-images.githubusercontent.com/2285400/70166395-f51de680-16c4-11ea-8e38-74f9a374e660.png)

When I try to import the "emplyee" folder I get the below error:
![immagine](https://user-images.githubusercontent.com/22

[2019-12-04 18:26] icarrara commented on #80
I found the workaround: Every time a create a new Damascus project, I delete the liferay workspace from Liferay Developer Studio and then reimport it.

[2019-12-04 21:10] yasuflatland-lf commented on #80
@icarrara , you may just need to place the employee project and try the way that [I introduced above](https://github.com/yasuflatland-lf/damascus/issues/80#issuecomment-557279883). LDS would recognize the project properly.

[2019-12-04 21:13] yasuflatland-lf commented on #85
@icarrara could you explain to me more details? Are you trying to build Damascus on your own? Or simply trying to use Lombok for generated modules in the Liferay Developer Studio?

[2019-12-04 21:31] icarrara commented on #85
@yasuflatland-lf I wish to use Damascus to generate CRUD module skeleton for Liferay Portal 7.2.1.

I read in the README.md in the IDE settings section that I need to install lombok so I tried.

But when I double click lombok.jar and select the directory where I installed Liferay Developer Studio, there is not eclipse.exe but eclipsec.exe so lombok installation fails

[2019-12-04 21:36] icarrara commented on #80
For sure it is my fault but what you introduced above it is ok for the first module, in my case Todo module. I imported it successifully following your directives.

My problem is to import the second (Employee) and other modules after the first Todo module.

I tried to import Employee module as a Liferay Module Project what it fails as you can see in the previous scree shot.

My workaround is to d

[2019-12-04 21:38] yasuflatland-lf commented on #85
@icarrara Ok, understood. You are not necessarily to install Lombok unless either you build Damascus tool itself by yourself or want to use Lombok in your modules. The example means plain Eclipse IDE, doesn't mean Liferay Developer Studio. I've not tried to use Lombok with LDS myself.

[2019-12-04 21:39] yasuflatland-lf commented on #80
@icarrara Got it, thank you for your clarification. Let me try to import the second module in the Liferay Workspace in Liferay Developer Studio.

[2019-12-04 21:39] icarrara commented on #85
Ok, thank you !

[2019-12-04 21:39] #85 closed, assigned to yasuflatland-lf

[2019-12-05 20:33] yasuflatland-lf commented on #80
@icarrara, it worked for me, Liferay Developer Studio(3.6.2) loaded 2 projects (employee, a sample of 2 models relations and todo, the initial sample that Damascus creates) properly. The steps are below:
1. Create a workspace for Liferay Developer Studio(LDS), say `${home}/ldstest`
1. Create `${home}/ldstest/ws` directory and go to the directory, then run `blade init -v 7.2`
1. Back to LDS, Import

[2019-12-06 08:35] NaderJafari opened #86 "Facing a bug in v 7.1"
Hi
I executed this command in version 1.1.1 on Windows :
` damascus init -c Nader -p com.liferay.sb.nader -v 7.1`
Then :
`cd .\nader\`
Then :
` damascus create`

But i faced this errors Only with -v 7.1 and with -v 7.2 every things is OK :

`
Started creating service scaffolding. Fetching base.json
Generating *-api, *-service, *-web skeletons for nader
Parsing .\nader\nader-service\service.xml
Run

[2019-12-06 18:05] icarrara commented on #80
Dear @yasuflatland-lf, thank you very much for your help.

I'm a bit confused and frustrated because solving one thing then I get new issue.
The gradle > Refresh Gradle Project works but now all references to Todo* and Employee* are in error.

I changed to "distributionUrl=https\://services.gradle.org/distributions/gradle-5.6.4-bin.zip" in the "gradle\wrapper\gradle-wrapper.properties" file becaus

[2019-12-07 00:01] yasuflatland-lf commented on #86
@naderjafari Just fixed that and will release the version soon.

[2019-12-07 00:04] yasuflatland-lf commented on #80
@icarrara You are basically not necessary to modify any code or Gradle versions that `blade gw` command use for compile, deploy and load the code in LDS. Let me ask some questions.

- What version of LDS are you using?
- Is the Liferay Workspace targeting 7.2?
- What version of `blade` are you using?  (you can check the version with `blade version` command)
- What version of JDK your LDS is target

[2019-12-07 07:47] icarrara commented on #80
Dear @yasuflatland-lf , below the environment:

    What version of LDS are you using? 3.7.1.201910160309-ga2
    Is the Liferay Workspace targeting 7.2? 7.2.0
    What version of blade are you using? 3.8.0.201909200317
    What version of JDK your LDS is targeting to? 1.8.0_161
    What's your JDK version installed on your machine? 1.8.0_161
    Is your environment behind a proxy? No. It download

[2019-12-07 18:52] mkhhatampoor commented on #86
hi
this bug is in service.xml template file in this address:
C:\Users\nader\.damascus\templates\7.1\service.xml
in this file first line is empty and this line make error.
clear this line and fix the bug.

[2019-12-07 19:15] mkhhatampoor opened #87 "add new field in module created (change current base.json)"
hi
after module created by damascus, maybe needs a field add to an entity (or maybe  some of methods or UI that autogenerated, required changes manually and then required add a field to an entity or other changes in base.json).
what is solution for this scenario?

[2019-12-07 21:45] #82 closed, assigned to nobody

[2019-12-07 21:55] yasuflatland-lf commented on #86
@mkhhatampoor , fixed in version 1.1.2

[2019-12-07 21:56] yasuflatland-lf commented on #83
@icarrara should be fixed in 1.1.2

[2019-12-07 22:00] yasuflatland-lf commented on #80
@icarrara the environment looks ok to me. It looks like the issue of LDS side that it doesn't recognize libraries paths. What you may be able to do is
- Use IntelliJ CE and IntelliJ plugin that Liferay provides (IntelliJ works without the plugin, but need to create module projects from the command line)
- Use general Eclipse and load the module project, (say todo) as Gradle modules.
- At each proj

[2019-12-07 22:05] yasuflatland-lf commented on #87
Damascus is designed to generate Scaffolds once. It is not designed to regenerate code according to the changes of fields later on. In that case, modify `base.json`, clean up generated bundles and run `damascus create` again.

[2019-12-08 00:22] #87 closed, assigned to yasuflatland-lf

[2019-12-08 08:41] icarrara commented on #83
@yasuflatland-lf , thank you very much for your efforts.

[2019-12-08 08:41] #83 closed, assigned to nobody

[2019-12-08 18:37] icarrara commented on #80
Dear @yasuflatland-lf ,

I restarted from scratch and finally the environment is working and it imports Damascus project without problems.

The actual environment as below:

- What version of LDS are you using? 3.7.1.201910160309-ga2
- Is the Liferay Workspace targeting 7.2? 7.2.0
- What version of blade are you using? 3.8.0.201909200317
- What version of JDK your LDS is targeting to? 1.8.0_161
-

[2019-12-08 18:53] icarrara opened #88 "Damascus v.V1.1.2 fails in edit mode with one to many relations model"
Create a "base.json" and filling it with "https://yasuflatland-lf.github.io/damascus-doc/docs/samples/sample1.html" sample code. It represents a one to many relations model.

The "blade deploy" command works fine:
![employee-blade-deploy](https://user-images.githubusercontent.com/2285400/70394212-219e6f00-19f3-11ea-809c-508d2684c0bd.JPG)

`2019-12-08 18:19:04.791 INFO  [com.liferay.portal.kernel.d

[2019-12-08 19:01] icarrara opened #89 "Damascus v.V1.1.2 fails to create two or more records"
Every models created by Damascus there is a non-duplicable Index formed by 'groupId' and 'urlTitle' columns:
![not-duplicable-index](https://user-images.githubusercontent.com/2285400/70394397-13515280-19f5-11ea-9812-d1ee1235a197.JPG)

Deploy a portlet created by Damascus in a portal page or use an 'Admin' portlet generated by Damascus.  Create a first records.

Then try to create a second records

[2019-12-08 20:18] yasuflatland-lf commented on #80
@icarrara ok!

[2019-12-08 20:18] #80 closed, assigned to yasuflatland-lf

[2019-12-08 20:36] mkhhatampoor opened #90 "how disable workflow or asset in base.json?"
hi
i config base.json for my portlet that not require asset and workflow. if i set  "workflow": "false", when deploy my module, error occur: (some of method related to workflow not created)
modules/todo/todo-service/src/main/java/com/liferay/sb/test/service/impl/TodoLocalServiceImpl.java
cannot find symbol method countByG_S(long,int[])
cannot find symbol method countByU_S(long,int[])
cannot find s

[2019-12-08 20:52] icarrara commented on #90
@mkhhatampoor yes, you have to force for choose asset and workflow.

Until now `"workflow": "true"` is the only value supported, since 'false' is not implemented.

[2019-12-09 01:28] yasuflatland-lf commented on #90
@icarrara Thank you for your comment!

[2019-12-09 01:28] #90 closed, assigned to nobody

[2019-12-09 05:54] mkhhatampoor opened #91 "tabular entities instead create portlets in one module with multiple entity"
hi
now for every entity that exist in base.json, one portlet will be created. for my sample that have 15 entities, this is not useful. my portlet in liferay 6.1 is tabular and for an entity have one tab in one portlet.
why do you create portlet for every entity? and do you doing that(tabular portlet)? and what is your idea that i perform that?
tanks

[2019-12-09 06:09] yasuflatland-lf commented on #91
Hi @mkhhatampoor thank you for the comment. The current design is aiming for avoiding the complexity of templates. To accomplish your requirements, multiple entities need to refer to the same generated file, which could be a cause of complexity. The current template engine handles each entity in each loop.

So this is intentionally designed that way for now. If there is a better implementation of

[2019-12-09 17:22] icarrara commented on #88
Ok, solved in damascus.build.number=V1.1.3TS20191209041928.

Tested in:
- Liferay Community Edition Portal 7.2.0 CE GA1
- Liferay Community Edition Portal 7.2.1 CE GA2

[2019-12-09 17:22] icarrara commented on #89
Ok, solved in damascus.build.number=V1.1.3TS20191209041928.

Tested in:
- Liferay Community Edition Portal 7.2.0 CE GA1
- Liferay Community Edition Portal 7.2.1 CE GA2

[2019-12-09 17:24] #88 closed, assigned to nobody

[2019-12-09 17:24] #89 closed, assigned to nobody

[2019-12-09 17:36] icarrara opened #92 "View and Update actions fails in portlet deployed in Content Page"
In **Content** Page, View and Update actions fails to works.
Simply no action follows after clicks View and Update actions.

Using damascus.build.number=V1.1.3TS20191209041928

Create a **Content** Page and deploy Todo sample portlet, then:
- Create some records.
- View Action: No
- Update Action: No
- Permisison: Yes
- Delete: Yes
- Move to Trash: Yes

Create a **Widget** Page and deploy Todo sam

[2019-12-09 21:12] #86 closed, assigned to nobody

[2019-12-09 21:13] #78 closed, assigned to yasuflatland-lf

[2019-12-10 14:47] icarrara opened #93 "Damascus v.1.1.4 fails to create two or more records"
From the [sample](https://yasuflatland-lf.github.io/damascus-doc/docs/samples/sample1.html), there are the Employee model and Position model.

The below steps are valid for every entities (Employee, Position, DeepPosition).

Deploy the portlet and create a first record in Employee entity and leave empty the "Title" and "Summary" Damascus's auto-generated fields.

Then try to create a second record

[2019-12-10 14:54] icarrara commented on #93
[base.json.txt](https://github.com/yasuflatland-lf/damascus/files/3945461/base.json.txt)

[2019-12-12 16:13] icarrara opened #94 "Damascus v.V1.1.3 fails in "View" mode with one to many relations model"
Using damascus.build.number=V1.1.3TS20191209041928.

Create a "base.json" and filling it with "https://yasuflatland-lf.github.io/damascus-doc/docs/samples/sample1.html" sample code. It represents a one to many relations model.

The "blade deploy" command works fine.

Add the "Employee" portlet on a page or use "Employee Admin" portlet from the Control Panel and click '+' to add an employee.

Then

[2019-12-12 16:15] icarrara commented on #94
The errors log is similar to the one described in #88

[2019-12-13 01:33] yasuflatland-lf commented on #94
@icarrara Can you confirm the steps to reproduce?
1. Create a project according to [sample1](https://yasuflatland-lf.github.io/damascus-doc/docs/samples/sample1.html)
1. Deploy the bundles to the Liferay 7.2
1. Login as an Omni admin (test@liferay.com)
1. Navigate to the Control Panel and open Position Admin, create a record.
1. Navigate to the Control Panel and open Employee Admin, create a recor

[2019-12-13 06:39] icarrara commented on #94
@yasuflatland-lf  Yes I confirm the steps you listed.

The issue is in place using both Liferay 7.2.0 and Liferay 7.2.1.
The issue affect only the Employee entity.

[2019-12-13 08:01] yasuflatland-lf commented on #94
@icarrara Ok, I found out the cause. will fix it.

[2019-12-13 08:08] icarrara commented on #93
Using Damascus V.1.13 the issue is still here.
#89  doesn't solve the issue.

The issue affect every level of relationship between entities, for example Employee, Position, DeepPosition (an eventual third level of relatinship - the parent entity is Position).

In every entity, in "Edit" screen Damascus creates two fields:
![immagine](https://user-images.githubusercontent.com/2285400/70782644-cb7d5

[2019-12-13 18:19] icarrara commented on #93
Using damascus.build.number=V1.1.4TS20191213045547.

Steps to reproduce:

1. Insert a record without to fill the "Title" and "Summary" Damascus's auto-generated fields.
2. In databse you can see the below:
![immagine](https://user-images.githubusercontent.com/2285400/70821823-55570b80-1ddc-11ea-9ab2-28446f3cf57f.png)

3. Insert a new record without to fill the "Title" and "Summary" Damascus's auto

[2019-12-13 18:21] icarrara commented on #94
Ok, fixed. Thank you @yasuflatland-lf  !

[2019-12-13 18:21] #94 closed, assigned to nobody

[2019-12-16 05:22] #91 closed, assigned to nobody

[2019-12-16 21:00] icarrara commented on #93
Ok, fixed.

Tested with Liferay 7.2.0 and 7.2.1.

[2019-12-16 21:00] #93 closed, assigned to yasuflatland-lf

[2019-12-16 21:06] icarrara commented on #92
@yasuflatland-lf verified that the link issues on Content Pages were a Liferay's bug. Until it's resolved, the friendly URL mapping file(routes.xml) is commented out in Damascus v.1.1.5.

I confirm that in v.1.1.5 the friendly URL mapping file(routes.xml) commented out is a working solution.  View and Update actions works in Liferay 7.2.0 and 7.2.1.

[2019-12-17 01:02] #92 closed, assigned to yasuflatland-lf

[2019-12-17 01:08] yasuflatland-lf commented on #92
@icarrara Thank you for your confirmation! I really appreciate your help with this issue!

[2019-12-17 14:56] empolesecasual opened #95 "Error executing damascus create"
Error executing "damascus create":

[code]

[2019-12-17 20:34] yasuflatland-lf commented on #95
Hi @empolesecasual , thank you for being interested in Damascus. Let me confirm, are you trying to use Damascus on JDK 11 environment? Unfortunately, Damascus only supports JDK 8 for now.

[2019-12-19 15:44] icarrara opened #96 "It is possible to implement columns with multilingual capabilities ?"
In Liferay portal, Varchar and RichText columns may have multilingual capabilities.

To define a multilingual column, in ServiceBuilder we need for example:
`<column name="description" type="String" localized="true" />`

If you want to access the above column from jsp page, you have to write:
`<%= LanguageUtil.get(pageContext,"description") %>`

If you want to access the above column from controll

[2019-12-19 17:56] icarrara opened #97 "Impossible to validate two columns with the same relation entity"
Using damascus.build.number=V1.1.5TS20191216114343 - Steps to reproduce:

1) In a entity create two columns of type com.liferay.damascus.cli.json.fields.Long:
- arrivalday
- departureday

`{
          "type": "com.liferay.damascus.cli.json.fields.Long",
          "name": "arrivalday",
          "title": "Arrival Day",
          "showFieldInView": "false",
          "required": "true",
          "v

[2020-01-08 02:33] yasuflatland-lf commented on #96
@icarrara  Let me look into this. If this can be done only by taglib and no backend modification is necessary, this could be added as a template.

[2020-01-11 03:05] tiurlumbangaol commented on #79
hi @yasuflatland-lf please give us time, maybe on beginning of Feb 2020, we could start the development...

[2020-01-17 01:13] yasuflatland-lf commented on #96
David's blog for reference
https://liferay.dev/blogs/-/blogs/new-since-liferay-7-1-localized-entities

[2020-01-20 07:24] icarrara commented on #96
@yasuflatland-lf I saw that localized fileds was changed so we need backend motification, right ?

Do you think that it is still possible to implement localized fileds in Damascus ?

[2020-01-20 07:29] icarrara opened #98 "It is possible to implement a pull-down list with multiple choice ?"
Use case: Deploy the Relation Sample application and have the possibility to select multple Position from the pull-down list in Employee edit page.

It is easy to setup in JSP with `<select multiple name="getfromall" ... >`

How I cand do with the Java code to persist the multple choice ?

[2020-02-01 19:18] dnebing opened #99 "Support Target Platform"
The Target Platform usage allows the dependency declarations to exclude versions; instead they will come from the target environment.

By using the TP, the code will be easier to move to updated versions of Liferay w/o having to track down and fix individual version details.

[2020-02-02 04:02] dnebing opened #102 "Liferay Logger should be replaced with SLF4J"
Use of the Liferay Log class is deprecated outside of core.

Instead, SLF4J should be used as the primary logging facility.

[2020-02-02 15:40] dnebing opened #104 "Application fieldsName should not be required"
After scanning the base code, the fieldsName that is part of the Application class is not used anywhere.

Instead of marking it as required, it should be optional.

[2020-05-22 08:02] icarrara opened #106 "Is it possible to release compatibility with Liferay Portal 7.3 ?"
I'm available for QA and tests as usual.

[2020-06-08 09:30] yasuflatland-lf commented on #99
Thank you for your contribution, @dnebing !

[2020-06-08 09:30] #99 closed, assigned to nobody

[2020-06-08 09:30] yasuflatland-lf commented on #102
Thank you for your contribution, @dnebing !

[2020-06-08 09:30] #102 closed, assigned to nobody

[2020-06-08 11:01] yasuflatland-lf commented on #104
Hey Dave, thank you for your contribution! @dnebing

[2020-06-08 11:01] #104 closed, assigned to nobody

[2020-06-10 05:36] yasuflatland-lf commented on #106
Hi @icarrara , I've just started 7.3 template development here
https://github.com/yasuflatland-lf/sample-sb
I'll keep you updated.

[2020-06-10 08:08] icarrara commented on #106
Hi @yasuflatland-lf , this is one of the best news I get in these dark months.
Please let me know if I can contribute in any way according to my possibilities.

[2020-06-18 08:16] yasuflatland-lf commented on #106
@icarrara 7.3 template has been released.

[2020-06-18 08:16] #106 closed, assigned to yasuflatland-lf

[2020-06-18 17:44] icarrara commented on #106
@yasuflatland-lf , thank you very much. I'll start to generate some portlets and I'll give you feedbacks ASAP.

[2020-06-18 22:35] #95 closed, assigned to nobody

[2020-07-19 17:24] icarrara opened #107 "V1.1.6 - Could not resolve: com.liferay:com.liferay.petra.sql.dsl.api:4.0.0"
Tried with Liferay Developer Studio both stable release: 3.8.1 and milestone release: 3.9.0 M1.
Created Todo example with 'damascus init -c Todo -p com.liferay.sb.test -v 7.3'
Imported modules in Liferay workspace
Below the errors from IDE console:
`
CONFIGURE SUCCESSFUL in 3s
Could not resolve: com.liferay:com.liferay.petra.sql.dsl.api:4.0.0

Could not resolve: com.liferay:com.liferay.petra.sql.d

[2020-07-19 20:59] yasuflatland-lf commented on #107
@icarrara Thank you for the report. I'll investigate this.

[2020-08-04 17:22] icarrara commented on #107
More information:

In "<user-profile>\.damascus\templates\7.3" i changed the below files:
- Portlet_XXXXROOT_build.gradle.ftl
- Portlet_XXXXSVC_build.gradle.ftl
- Portlet_XXXXWEB_build.gradle.ftl

From `compileOnly group: "com.liferay.portal", name: "com.liferay.portal.kernel"<#if useTP?? && false == useTP>, version: "**7.2.0**"</#if>`
To `compileOnly group: "com.liferay.portal", name: "com.lifera

[2020-08-04 17:38] icarrara commented on #107
Good news: I read this:

---------------
https://liferay.dev/blogs/-/blogs/liferay-portal-7-3-ce-ga4-release-1

Dependency Management

If you are developing on top of Liferay Platform, and want to update your workspace to use de dependencies from this last version, you will just need to use a single dependency artifact. Just add the following line to your build.gradle file:

dependencies {
   comp

[2020-08-04 17:49] icarrara commented on #107
It worked !

I changed the build.gradle of the todo-api and todo-service moduls.

I removed all Liferay's related dependencies and put the below only statement:
`compileOnly group: "com.liferay.portal", name: "release.portal.api", version: "7.3.3-ga4"`

At the moment I don't changed the todo-web module.

I done a "blade deploy" command and the three modules was compiled successfully:

`C:\dev\life

[2020-08-04 20:01] icarrara commented on #107
It confirmed.

I changed the build.gradle of the todo-api and todo-service and  todo-web modules.

I removed all Liferay's related dependencies and put the below only statement:

`compileOnly group: "com.liferay.portal", name: "release.portal.api", version: "7.3.3-ga4"`

I done a "blade deploy" command and the three modules was successfully compiled.

After deploy:
I used the Admin portlet and it

[2020-08-04 20:04] icarrara opened #108 "Liferay 7.3.3-ce-ga4 - Damascus 1.1.6 - Todo portlet - DocumentLibrary field, upload button, no action"
Both in Admin and User Todo portlet.

If you click the SELECT button to upload, no action follows.

[2020-08-04 20:08] icarrara opened #109 "SOLVED - Liferay 7.3.3-ce-ga4 - Damascus 1.1.6 - Todo portlet - Download action - java.lang.ClassNotFoundException"
Create one or more entry in Todo portlet, both Admin and User mode.

In view list of entries select one or more entries.

Then click the Download link - you get the below error:

`Caused by: java.lang.ClassNotFoundException: org.apache.commons.math3.util.ArithmeticUtils cannot be found by com.liferay.sb.test.web_1.0.0`

[2020-08-06 15:32] icarrara commented on #107
I confirm that foollowing the https://liferay.dev/blogs/-/blogs/liferay-portal-7-3-ce-ga4-release-1 under "Dependency Management" section solve the issue.

Solution:

In ".damascus\templates\7.3" i changed the below files:
    Portlet_XXXXROOT_build.gradle.ftl
    Portlet_XXXXSVC_build.gradle.ftl
    Portlet_XXXXWEB_build.gradle.ftl

I removed all Liferay's related dependencies and put the below s

[2020-08-06 19:12] himanshubhandari5 commented on #107
Hi @yasuflatland-lf

As for each 7.3 GA release, different release.portal.api version is there, I have implemented a solution with another command line argument as "-ga" to get the GA version, and based upon that updated the release API version in templates.

Please let me know if this is the correct approach.

Thanks!

[2020-08-07 00:57] yasuflatland-lf commented on #107
@hdbhandari @icarrara

Thank you guys for confirmations and comments. Let me share the context of the current design and my thought below:

### Versions for dependencies
Liferay Workspace introduced the BOM for applying the appropriate version for the dependencies a while ago as below.

[code]
This way allows you to just switch BOM to follow the newer bundle, without manually looking up dependenci

[2020-08-07 02:01] dnebing commented on #107
BOM support is available from 7.0.6 onward.

I wouldn't try to support older versions that lack BOM support.

[2020-08-07 03:00] yasuflatland-lf commented on #107
@dnebing  Thank you for the quick answer! That gives us really good insights.

@hdbhandari @icarrara, with that, said, I'd like to chose 2, only compatible for BOM version. I need to update `com.liferay.project.templates` library higher than `5.0.32` anytime soon for newer Liferay versions anyways.

[2020-08-18 09:13] icarrara commented on #107
With the Liferay Portal 7.3 CE GA5 Release it seems that things have still changed.

Below an extract from the blog article [https://liferay.dev/blogs/-/blogs/liferay-portal-7-3-ce-ga5-release](url)

If you are developing on top of Liferay Platform, you will only need to define a single dependency artifact by adding the following line to each modules build.gradle file:
`dependencies {
   compileOn

[2020-08-19 17:10] icarrara opened #110 "Liferay 7.3.3-ce-ga4 - Damascus 1.1.6 - Todo portlet - 'Move to Recycle Bin' icon, no action"
In view mode select multiple records then click the 'Move to Recycle Bin' icon - no action executed.

[2020-08-19 17:10] icarrara commented on #110
Same issue in Liferay 7.3.4-ce-ga5

[2020-08-19 17:10] icarrara commented on #109
Same issue in Liferay 7.3.4-ce-ga5

[2020-08-19 17:11] icarrara commented on #108
Same issue in Liferay 7.3.4-ce-ga5

[2020-08-19 17:16] icarrara commented on #107
Based on the blog article https://liferay.dev/blogs/-/blogs/liferay-portal-7-3-ce-ga5-release

1) In Liferay Developer Studio IDE, in the Liferay Workspace Project, in 'gradle.properties' added the below properties:
`liferay.workspace.product = portal-7.3-ga5`
`liferay.workspace.target.platform.version=7.3.4`

2) In Damascus templates:
- Portlet_XXXXAPI_build.gradle.ftl
- Portlet_XXXXSVC_build.gra

[2020-08-27 04:28] dnebing opened #111 "Entities should not all be assets"
if you remove the asset: {} attribute from an application definition in base.json, many of the templates (at least in 7.2 where I've been testing) fail throwing numerous FM errors with the null object.

When building a complex application with multiple entities in a service, there will often times need to be a mix of entities, some entities will be assets, but other entities have no reason having

[2020-08-27 16:45] icarrara commented on #111
Tested with 7.3 templates and the issue is the same.

Used the attached base.json with three entities.
Removed the asset: {} attribute from two entities.

Done 'damascus create' and I got 21 errors cause the below fields are null:
`application.asset.assetTitleFieldName` and 'application.asset.assetSummaryFieldName'.

Then I surrounded the statements in templates that refer to the above fields with

[2020-08-27 16:59] dnebing commented on #111
I had an additional error in 7.2 in service.xml.ftl because the title and summary fields cannot be missing, null or empty.

For my changes, instead of wrapping in an additional check, I changed the lines to something like:

`<#if application.asset?? && application.asset.assetTitleFieldName?? && application.asset.assetTitleFieldName != "" >`

[2020-08-27 17:25] icarrara commented on #111
I'll try your change in 7.3 but I can't find  service.xml.ftl template anywhere.
I checked both 7.2 and 7.3 templates...

[2020-08-27 17:30] dnebing commented on #111
Sorry, it is actually just service.xml, doesn't have the ftl extension on it.

[2020-08-27 17:36] icarrara commented on #111
Moreover, how you changed code without some IF already in place?

For example in Portlet_XXXXSVC_LocalServiceImpl.java.ftl at line 586:

`entry.set${application.asset.assetTitleFieldName?cap_first}("");
entry.set${application.asset.assetSummaryFieldName?cap_first}("");`

[2020-08-27 17:40] dnebing commented on #111
I didn't get all the way through the files like you have, Ivano. I got far enough to know it was an issue, just not how wide-ranging it was.

[2020-08-28 01:17] yasuflatland-lf commented on #111
@dnebing
As we discussed yesterday on Slack, we may want to create a separate template for the Non-Asset version to avoid complexity.

The reasons why I want to separate the templates for each purpose are:

- Increasing flags in templates are error-prone. Testing generated code is time-consuming, even taking full advantage of unit testing, and it occupies a large percentage of template generation

[2020-08-28 06:39] icarrara commented on #111
@yasuflatland-lf

Will this solution allow you to use a single base.json definition file containing a mix of entities, some entities with asset: {} attribute and other without asset: {} attribute ?

I'm referring to the @dnebing 's example of Liferay's MessageBoards service.

[2020-11-02 20:30] yasuflatland-lf opened #113 "The PanelApp doesn't point correct jsps for 7.2"
The two portlets, one regular and one for admin, the admin one often incorrectly references the regular paths (i.e. the edit_actions.jsp file in the _admin app pulls the regular one, not the admin one).

[2021-01-13 05:15] yasuflatland-lf commented on #107
Use BOM with Target Platform from 1.2.0 onward

[2021-01-13 05:15] #107 closed, assigned to yasuflatland-lf

[2021-01-13 05:16] yasuflatland-lf commented on #79
Old version will leave as it is. Close this.

[2021-01-13 05:16] #79 closed, assigned to nobody

[2021-01-13 05:20] yasuflatland-lf opened #115 "Remove useTP from the template."
BOM use is default from 1.2.0. Remove useTP tags from templates

[2021-01-13 05:26] yasuflatland-lf commented on #111
This marks as won't fix due to the reasons as follows
- Configurable assets dependency of the code is not easy to handle, but removing assets are sort of easy after generated files.
- I've not encountered cases where Assets is unnecessarily. The real production use cases that I know of is generating Master management (Database Table manipulation for Administration) tools. It looks like leaving Ass

[2021-01-13 05:26] #111 closed, assigned to nobody

[2021-04-26 10:54] N-J-van-den-Berg commented on #108
Same in Liferay 7.3.5-ce-ga6

[2021-05-10 10:03] SDGItalySrl opened #118 "Error creating project, does not find service.xml under api project"
I'm trying to generate service using default example following documentation and get these errors:

Started creating service scaffolding. Fetching base.json
Generating *-api, *-service, *-web skeletons for todo
Parsing /Users/imaffioli/Documents/LiferayDev/DevStudio/lrworkspace/modules/todo/todo/todo-service/service.xml
Moving all modules projects into the same directory
Running "gradle buildServi

[2021-05-10 11:20] yasuflatland-lf commented on #118
@SDGItalySrl Can you share your
- Machine (Mac or Windows, versions)
- Target bundle (7.3.3 CE, DXP 7.3 SP1, etc)

[2021-05-10 11:58] SDGItalySrl commented on #118
Mac OS bIg Sur 11.3.1
Liferay DXP 7.2.1-fp9
blade version 4.0.8.202104291848
java 11.0.9 2020-10-20 LTS

[2021-05-10 20:26] yasuflatland-lf commented on #118
@SDGItalySrl Damascus only works with Java8 so far. But I know Java11 is more prevalent now, so let me create an issue for Java11 support.

[2021-05-11 06:01] SDGItalySrl commented on #118
Thanks!

[2021-05-12 08:22] SDGItalySrl commented on #118
Same result with:
Liferay DXP 7.2.1-fp8
Windows Server 2016 Standard (64 bit)
java version "1.8.0_291"
blade version 4.0.8.202104291848

[2021-05-12 08:35] yasuflatland-lf commented on #118
Chances are, you need to set BOM for the workspace. In the `gradle.properties` at the root directory of Liferay Workspace,  For example,
[code]

[2021-05-18 12:26] gniewleone commented on #118
I am having the same result with:
Liferay CE 7.3.5-ga6
Kubuntu 20.10 (64 bit)
java version "1.8.0_292"
blade version  4.0.8.202104291848
Setting BOM is not helping

[2021-05-18 12:49] jardineworks commented on #118
I experienced the same issue this morning. I think the tools might have changed somehow. Seems like before where you could run buildService from any level in the module has been changed so that now you have to run it from the service module.

[2021-09-24 11:48] Lincolnmyth commented on #118
I'm having this same issue with
liferay 7.2
java 1.8.0
blade 4.0.8

I've tried the solutions in this comment section but nothing has worked. Changing the liferay versions doesn't work, updating gradle doesn't work. updating blade doesn't work either.

[2021-09-30 09:37] icarrara commented on #109
SOLVED.

@yasuflatland-lf Please could you include the change in the project?

Added `@commons-math3-*.jar,\` in the `-includeresource:` section, as below full code:

`#
#   #
#  #
Bundle-Name: todo-web
Bundle-SymbolicName: com.liferay.sb.test.web
Bundle-Version: 1.0.0
Import-Package:\
	!com.google.*,\
	!com.graphbuilder.*,\
	!com.microsoft.*,\
	!org.apache.*,\
	!org.bouncycastle.*,\
	!org.etsi.ur

[2021-09-30 09:37] #109 closed, assigned to yasuflatland-lf

[2021-09-30 09:45] icarrara commented on #110
Please, no news on this?

[2021-09-30 09:46] icarrara commented on #108
Please, no news on this?

[2021-10-05 06:51] yasuflatland-lf commented on #118
@jardineworks @Lincolnmyth @gniewleone
I confirmed that Liferay's Gradle tool changed the behavior. I'm fixing this according to the change.

[2021-10-11 04:12] yasuflatland-lf commented on #110
@icarrara I could identify the cause, but requires lot of work to fix (need to comply the es5 way to make it work). Can you implement same way like here? That'd be great if you can send me a PR
[code]
I'd follow this way for the implementation if I would do ti.

[2021-12-21 17:25] icarrara opened #119 "Feature request: Modules generation for Liferay 7.4"
I would like to generate modules for version 7.4 of Liferay Portal.

Examining the Todo project generated with the templates version for 7.3 and imported into Liferay workspace 7.4 the incompatibilities in the code are not so many.

I am available to collaborate in the testing and debugging of the templates for version 7.4.

Thank you in advance for any comment or collaboration offers.

[2021-12-21 20:29] yasuflatland-lf commented on #119
@icarrara Hi, if it's Demo purpose, have you tried Liferay Object and Liferay Form combination? Didn't it work for you? I may be able to find time for the 7.4 template upgrade, but I can't tell the timeframe for now. I'll let you know when I work on it! Thank you for your offering!

[2021-12-21 21:26] icarrara commented on #119
@yasuflatland-lf Hi and thank you for your comment!

 In fact I'm just trying Liferay Object and Liferay Form combination but I encountered two important missing feature:

1) I was able to use Form only to **C**reate Object items, but not **U**pdate and **D**elete operations.
2) An Object item can't be associated to Category and Tags infrastructure.

Maibe I'm wrong. Could you confirm or change th